.wrapper {
    border: 1px solid red;

    &:hover {
        background-color: red;
    }
}

.welcome {
    text-align: center;
}

.p1 {
    width: 128px;
    height: 130px;
}
.p2 {
    width: 128px;
    height: 150px;
}
.p3 {
    width: 130px;
    height: 108px;
}
.p4 {
    width: 129px;
    height: 83px;
}
.blue {
    background-color: blue;
}

:global(.frank) {
    border: 1px solid red;
}

.h2 {
    text-align: center;
    font-size: 32px;
    margin-top: 48px;
}