.wrapper {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        padding: 8px;
        font-size: 20px;
    }
}
.loading {
    width: 128px;
    height: 128px;
}