.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 70vw;
    max-width: 20em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background-color: red;
}
.currentUser {
    flex-grow: 0;
    flex-shrink: 0;
}
.menu {
    flex-grow: 1;
    flex-shrink: 1;
}