.wrapper {
    background-color: #5f34bf;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: stretch;
    padding-bottom: 16px;
}

.main {
    // width: 100%;
    // margin: 16px 16px;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: 16px;
    position: relative;
}

.item {
    width: 100%;
    height: 100%;
    padding: 16px 16px;
    display: flex;

    .current {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        border-radius: 8px;
    }
}

.header {
    flex-shrink: 0;
    text-align: center;
    padding-top: 64px;
}

.footer {
    flex-shrink: 0;
    text-align: center;
    font-size: 24px;
    color: white;
    display: grid;
    grid-column: 3;
    grid-row: 1;
}

.img {
    width: 64px;
    height: 69px;
}

.h1 {
    color: #D4D4EE;
}